:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}
/** Scroll Snap**/
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
 
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}


/* Titulos */
.titulo {
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo span {
    font-size: 2rem;
    font-family: "Playwrite DE SAS", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/* Navegacion Principal */
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(../img/cancha2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgb( 0 0 0 / 70% );
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    font-family: "Playwrite DE SAS", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;


}
.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}



/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contacto **/
.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/** Footer **/
.footer {
    text-align: center;
}

/** INICIA SLIDER COMÚN **/

.slider-container {
    width: 100%;
    overflow: hidden; /* Oculta el contenido que se desborda */
    white-space: nowrap; /* Mantiene todos los elementos en una sola línea */
}

.slider-track {
    display: inline-flex; /* Permite que los elementos fluyan horizontalmente */
    animation: scroll 20s linear infinite; /* Animación continua */
}

.slider-item {
    /* Estilos para tus elementos (imágenes, texto, etc.) */
    display: inline-block;
    width: 200px; /* Ancho fijo para cada elemento */
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        /* Desplaza la mitad del ancho total del track (la primera copia) */
        transform: translateX(-50%);
    }
}

/** TERMINA SLIDER COMUN **/

/** INICIA SLIDER RESPONSIVO **/

.logos{
    width: 80%;
    display: flex;
    margin: auto;
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
    margin-top: 20px;
}

.logos-slide{
    animation: 10s slide infinite linear;
    img {
        height: 50px;
        margin: 0px 70px;
    }
}

.logos::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0) , rgba(255,255,255));
    content: " ";
    z-index: 1;
}

.logos::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255));
    content: " ";
    z-index: 1;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

/** TERMINA SLIDER RESPONSIVO **/

/** INICIA REGISTRO DE USUARIO **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fondo.jpg');
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/** TERMINA REGISTRO DE USUARIO **/